*.pyc
src/thesis.egg-info/*
src/distributed_old/*
*/**/trace.json
*.nsys-rep
debug_data/*
data/*
notes.md
setup.py
train_single.sh
train_multiple.sh
train_multiple_mps.sh
notes.md

logs/*
logs_2/*
logs_imagenet/*
logs_bpf/*
logs_all/*
logs_debug/*
logs_dali/*
logs_16cpu/
logs_8cpu/
logs_4cpu/
*.sqlite
*.nsys-rep
dali_example.py
